<h2>Mantenimiento para usuarios autorizados</h2>
</br>

<ul>
<table align="center" >
<tr>
<td/>
<b>DOCTORES<b/>
<li><a href="doctors"><img src="../../../assets/doctors.jpg"width="150" height="100" align="center" /> </a></li>
<td/>

<td>
</br>
<b>CLIENTES<b/>
<li><a href="clients"><img src="../../../assets/clients.jpg"width="150" height="100" align="center"/>  </a></li>
</br>
<td/>
<tr/>

<tr>
<td>
<b>PACIENTES<b/>
<li><a href="patients"><img src="../../../assets/patients.jpg"width="150" height="100" align="center"/>  </a></li>
</br>
<td/>

<td>
</br>
<b>PROSPECTOS<b/>
<li><a href="prospectus"><img src="../../../assets/prospects.jpg"width="150" height="100" align="center"/></a></li>
</ul>
<td/>
<tr/>
<table/>