<div id="contentPan">

<div id="c1">

<div id="welcome">
<h2></h2>

<img src="assets/img_welcome.jpg" width="203" height="81" alt="" />

<p class="headline">La Clinica de sus mejores amigos</p>

<p>Nuestra Clinica Veterinaria cuenta con medicos veterinarios expertos en diferentes disciplinas y con la metodologia necesaria para llegar a los diagnosticos que permitiran enfocar los tratamientos de manera eficiente y oportuna,
<br />
<br />

Seguimos a detalle el Expediente Clinico Orientado a Problemas, en el que al conjuntar los Datos generales, la Historia Clinica y el Examen clinico podemos arrojar la lista de problemas que nos permitira agrupar los signos de acuerdo a problemas especificos y recomendar las pruebas de laboratorio e imageniologia complementarias.
<a href="#">Leer mas</a></p>

</div>
</div>

<div id="c2">
<div id="services">
<h2></h2>

<p class="headline">Busca Pareja</p>

<img src="assets/cachorros2.jpg" width="180" height="80" alt="" />

<p>Hola mi nombre es Samys soy de raza chihuahua, tengo 10 meses y es mi deseo formar una familia. </p>
<br />

<p class="headline">Perdidos y Encontrados</p>

<img src="assets/cachorros3.jpg" width="180" height="80" alt="" />

<p>Si se perdio tu mascota, deja tu post y te ayudaremos a encontralas. </p>
<br />

<p class="headline">Tienda Virtual</p>

<img src="assets/tienda1.jpg" width="180" height="80" alt="" />

<p>Aqui podras comprar productos exclusivos para la mascota del hogar. </p>
<br />


</div>
</div>

<div id="c3">

<div id="news">
<h2></h2>

<p class="headline">Council for mascots</p>

<img src="assets/cats1.jpg" width="180" height="80" alt="" />

<p>1.- Solo de alimento balanceado a su mascota para evitar problemas digestivos complejos. NO LE DE LECHE, ya que esta ultima podria ocasionar diarreas complicadas.</p>
<br />

<p>2.- No se deje lamer la cara por su mascota, esto porque se trata de una conducta de riesgo y de posible parasitacion, recuerde que las mascotas se meten de todo a la boca.</p>
</div>

<div id="quotes">
<h2></h2>

<p class="headline">Testimonies of people</p>

<p>1.- Doctor a mi cachorro de nueve meses se le cae abundante pelo. Lo lavamos con el champu Rondon quisiera saber si ellos cambian el pelo ya que es un Cocker. </p>

</div>

</div>




<div class="clear">



</div>


</div>




<div id="footerPan">

    
<p>Copyright &copy; Clinica Veterinaria.</p>

</div>
