<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Veterinary Clinic</title>

<link href="css/styles.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div id="container">


<div id="headerPan">

<img src="assets/logo.jpg" alt="" name="logo" width="210" height="49" id="logo" />

<img src="assets/slogan.jpg" alt="" name="logo" width="304" height="179" id="slogan" />

<ul class="menu">
    <li class="b01"><a href="#" title="home page">home page</a></li>
    <li class="linem"></li>
    <li class="b02"><a href="#" title="about us">about us</a></li>
    <li class="linem"></li>
    <li class="b03"><a href="#" title="services">services</a></li>
    <li class="linem"></li>
    <li class="b04"><a href="#" title="our team">our team</a></li>
    <li class="linem"></li>
    <li class="b05"><a href="#" title="contact">contact</a></li>
</ul>


</div>

<div id="contentPan">

<div id="c1">

<div id="welcome">
<h2></h2>

<img src="assets/img_welcome.jpg" width="203" height="81" alt="" />

<p class="headline">Sed posuere ligula rhoncus erat. Fusce urna dui, sollicitudin ac, pulvinar quis, tincidunt et, risus. </p>

<p>Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. Fusce elit ligula, sodales sit amet, 
<br />
<br />

Aliquam ut massa. Suspendisse dolor. Cras quam augue, consectetuer id, auctor ut, tincidunt a, velit. Quisque euismod tortor sed nulla. Nunc dapibus <a href="#">read more</a></p>


</div>

</div>


<div id="c2">
<div id="services">
<h2></h2>

<p class="headline2">Sed posuere ligula rhoncus erat. Fusce urna dui, sollicitudin ac, pulvinar quis, tincidunt et, risus. </p>

<ul>
<li><a href="#">Nam eu nulla. Donec lobortis purus vel   </a></li>
<li><a href="#">urna. Nunc laoreet lacinia nunc. In </a></li>
<li><a href="#">volutpat sodales ipsum. Sed </a></li>
<li><a href="#">Nam eu nulla. Donec lobortis purus vel   </a></li>
<li><a href="#">urna. Nunc laoreet lacinia nunc. In </a></li>
<li><a href="#">volutpat sodales ipsum. Sed </a></li>
<li><a href="#">urna. Nunc laoreet lacinia nunc. In </a></li>
</ul>


</div>

</div>
<div id="c3">

<div id="news">
<h2></h2>

<p class="date">nov. 28, 2011</p>
<p><a href="#" class="link2">Morbi volutpat leo in ligula. Integer </a><br />
 magna. Quisque ut magna et nisi  Lorem ipsum dolor sit amet, consec</p>

<p class="date">nov. 27, 2011</p>
<p><a href="#" class="link2">Morbi volutpat leo in ligula. Integer </a><br />
 magna. Quisque ut magna et nisi  Lorem ipsum dolor sit amet, consec</p>

</div>

<div id="quotes">
<h2></h2>

<p><span class="headline">"Sed posuere ligula rhoncus"</span><br />
NullamMorbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. Fusce elit ligula Duis tempor ipsum vitae diam. Curabitur felis dui, bibendum vitae, luctus quis <a href="#">read more</a></p>

</div>

</div>

<div class="clear"></div>


</div>

<div id="footerPan">

    <p><a href="#">HOME</a> | <a href="#">ABOUT US</a> | <a href="#">SERVICES</a> | <a href="#">OUR TEAM</a> | <a href="#">NEWS</a> | <a href="#">CONTACT US</a><br/>
  <span>Copyright &copy; Your Company Name. Designed by <a href="http://www.templateyes.com" target="_blank">TemplateYes</a></span></p>

</div>


</div>




</body>
</html>
