
<div id="contentPan">

<div id="c1">

<div id="welcome">
<h2></h2>

<img src="assets/img_welcome.jpg" width="203" height="81" alt="" />

<p class="headline">La clinica de sus mejores amigos</p>

<p>Nuestra Clinica Veterinaria cuenta con medicos veterinarios expertos en diferentes disciplinas y con la metodologia necesaria para llegar a los diagnosticos que permitiran enfocar los tratamientos de manera eficiente y oportuna,
<br />
<br />

Seguimos a detalle el Expediente Clinico Orientado a Problemas, en el que al conjuntar los Datos generales, la Historia Clinica y el Examen clinico podemos arrojar la lista de problemas que nos permitira agrupar los signos de acuerdo a problemas especificos y recomendar las pruebas de laboratorio e imageniologia complementarias.
<a href="#">Leer mas</a></p>


</div>

</div>


<div id="c2">
<div id="services">
<h2></h2>

<p class="headline2">Servicios que ofrecemos, enterese a detalle de cada uno de nuestros servicios especializados. </p>

<ul>
<li><a href="doctors">Lista de doctores   </a></li>
<li><a href="clients">Lista de clientes </a></li>
<li><a href="patients">Lista de pacientes </a></li>
<li><a href="prospectus">Prospectos   </a></li>
<li><a href="#">urna. Nunc laoreet lacinia nunc. In </a></li>
<li><a href="#">volutpat sodales ipsum. Sed </a></li>
<li><a href="#">urna. Nunc laoreet lacinia nunc. In </a></li>
</ul>


</div>

</div>
<div id="c3">

<div id="news">
<h2></h2>

<p class="date">nov. 28, 2011</p>
<p><a href="#" class="link2">Morbi volutpat leo in ligula. Integer </a><br />
 magna. Quisque ut magna et nisi  Lorem ipsum dolor sit amet, consec</p>

<p class="date">nov. 27, 2011</p>
<p><a href="#" class="link2">Morbi volutpat leo in ligula. Integer </a><br />
 magna. Quisque ut magna et nisi  Lorem ipsum dolor sit amet, consec</p>

</div>

<div id="quotes">
<h2></h2>

<p><span class="headline">"Sed posuere ligula rhoncus"</span><br />
NullamMorbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. Fusce elit ligula Duis tempor ipsum vitae diam. Curabitur felis dui, bibendum vitae, luctus quis <a href="#">read more</a></p>

</div>

</div>

<div class="clear"></div>


</div>

<div id="footerPan">

    <p><a href="#">HOME</a> | <a href="#">ABOUT US</a> | <a href="#">SERVICES</a> | <a href="#">OUR TEAM</a> | <a href="#">NEWS</a> | <a href="#">CONTACT US</a><br/>
  <span>Copyright &copy; Your Company Name. Designed by <a href="http://www.templateyes.com" target="_blank">TemplateYes</a></span></p>

</div>
